* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', sans-serif;
  color: #fff;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #111;
}

/* -------------------------------------- */
/* .btn{                     moved-to-styles/Button.css
  background-color: red ;
  width: fit-content; 
  padding: 10px 20px;
  border-radius: 5px ;
  margin: 5px;
} */

/* -------------------------------------- */


/*moved-to-styles/Header.css*/

/* .header{
  background-color: rgb(32, 132, 166) ;
  width: fit-content;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 10px;
}

.header button{
  background: rgb(34, 0, 255);
  padding: 5px ;
  border-radius: 3px;
} */

/* -------------------------------------- */